 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
    <div class="tech">
      <h3>Web Design Languages</h3>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-nodejs-plain-wordmark colored"></i>
    </div>
    <div class="tech">
      <h3>Programming Languages</h3>
      <i class="devicon-python-plain-wordmark"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-cplusplus-plain colored"></i>
    </div>
    <div class="tech">
      <h3>Frameworks and Databases</h3>
      <i class="devicon-mysql-plain-wordmark colored"></i>
    </div>
    <div class="tech">
      <h3>Working Platforms</h3>
      <i class="devicon-ubuntu-plain-wordmark colored"></i>
      <i class="devicon-apple-original colored"></i>
    </div>
</div>
<br/>
