<div class="user-details">
        <h1> Work and Experience </h1>
        <p> I have worked in various domains </p>
</div>
<style>
    .work {
        margin: 10px;
        text-align:center;
    }
    .allwork {
        width: 40%;
	    padding: 20px;
        display: inline-block;
        word-wrap: break-word;
    }
    .allwork p{font-size:16px}
    img {
        width: 50%;
        height: 50%;
    }
</style>

<div class="work">
	<div class="allwork">
                <h3>Data Scientist</h3>
                <img alt="SDE" src="http://www.textmercato.com/newimages/logo.png" />
                <p>
                        Presently working as a Data Scientist at <a href="http://www.textmercato.com/" target="_blank" >Text Mercato</a>. Text Mercato is a content management startup heading towards automating the manual work in content industry.
			<strong> Working on Computer Vision</strong>
                </p>
        </div>
        <div class="allwork">
                <h3>Software Development Intern</h3>
                <img alt="SDE" src="{{ "/assets/img/Fastenal.jpg" | prepend: site.baseurl }}" />
                <p>
                        I interned at <a href="https://www.fastenal.com" target="_blank" >Fastenal</a>. It's an B2B company based out of US. During my time, I successfully did the following project.
                        <ol>
                            <li style="text-align: justify"><strong>Auto Mail Generator for SQL Queries</strong> - A web app built to automatically send emails based on SQL Query Execution. Reduced human effort by 30%</li>
                        </ol>
                </p>
                <p>The project details are confidential</p>
        </div>
          <div class="allwork">
            <h3>Research Intern - CDSAML</h3>
            <p>Center for Data Science and Applied Machine Learning </p>
            <img style="width: 23%;height: 30%" alt="Research" src="{{ "/assets/img/CDSAML.png" | prepend: site.baseurl }}" />
            <p>
                    I'm interning at CDSAML Lab in our college (<a href="https://pes.edu">PES University</a>). I worked on
                    <ol>
                        <li style="text-align: justify"><strong>Text to Image Syntheis in Fashion</strong> - A research project with a web interface for converting attire description to image</li>
                    </ol>
                </p>
                <p>The project details can be found <a href="https://github.com/Better-Boy">here</a></p>
          </div>
          <div class="allwork">
            <h3>Research Intern - NeuroEconomics</h3>
            <img style="width: 15%;height: 23%" alt="SDE" src="{{ "/assets/img/Van.jpg" | prepend: site.baseurl }}" />
            <p>
                    I'm interning under <a href="https://mkvanvugt.wordpress.com/" target="_blank" >Dr. Marieke Van Vugt</a>. She is an Assitant Professor at <a href="https://www.rug.nl/">University of Groningen</a>. Her main interests are in cognitive modelling. The work under her is still going on.
                    <ol>
                        <li style="text-align: justify"><strong>Proof for Evidence Accumulation via EEG Analysis</strong> - The work is to find out how th evidence accumulation happens in human brain via the analysis of human brain.</li>
                    </ol>
                </p>
                <p>As of now the project details are confidential</p>
          </div>
          <div class="allwork">
                <h3>Operations Intern</h3>
                <img alt="SDE" src="{{ "/assets/img/discountshop.jpg" | prepend: site.baseurl }}" />
                <p>
                    I interned at <a href="https://www.discountshop.com" target="_blank" >Discount Shop</a>. It's an e-commerce company based out of US. During my time, I successfully did the following projects.
                    <ol>
                        <li style="text-align: justify"><strong>Watch Query</strong> - A web app built to scrape javascript heavy websites & query the scraped data. Reduced human effort by 30%</li>
                        <li style="text-align: justify"><strong>Price Calc</strong> - A standalone cross platform application written in ElectronJS for complex calculation of prices of different products with built in excel functionality.</li>
                    </ol>
                </p>
              </div>
      </div>
      <br/>
