<div class="user-details">
        <h1> Hobbies & Extra Curricular Activities</h1>
</div>
<style>
    .main {
        text-align: center;
    }

</style>
<div class="main">
    <div style="display: inline-block;text-align:justify;">
    <ol>
        <li>
            Hackathons
            <ul>
                <li>
                    Top 10 Finalist at Zeiss India Hackathon
                </li>
                <li>
                    Participated in HashCode - College Hackathon
                </li>
            </ul>
        </li>
        <li>
            Technical Talks and Conferences Attended
            <ol>
                <li> Google IO at Google India Pvt Ltd</li>
                <li> Oracle Code at Bangalore</li>
            </ol>
        </li>
        <li>
            Play Gully Cricket - On Road Cricket
        </li>
        <li>
            Social Activities
            <ul>
                <li>
                    Regular Blood Donor 
                </li>
                <li>
                    Served at CSR (Collegiate Social Responsibility) - Participated in Village Visit, Blood Donation Camp etc.
                </li>
            </ul>
        </li>
    </ol>
    </div>
</div>