<div class="user-details">
        <h1> Hobbies & Extra Curricular Activities</h1>
</div>
<style>
    .main {
        text-align: center;
    }

</style>
<div class="main">
    <div style="display: inline-block;text-align:center;">
            <h3><strong>Hackathons</strong></h3>
            Top 10 Finalist at Zeiss India Hackathon<br/>
            Participated in HashCode - College Hackathon
            <br/>
            <h3><strong>Technical Talks and Conferences Attended</strong></h3>
            Google IO at Google India Pvt Ltd<br/>
            Volunteer for Google IO conducted by FreeCodeCamp at Bangalore<br/>
            Oracle Code at Bangalore
            <br/>
            <h3><strong> Sports</h3></strong>
            Gully Cricket
            <h3><strong>Social Activities</strong></h3>
            Regular Blood Donor <br/>
            Served at CSR (Collegiate Social Responsibility) - Participated in Village Visit educating rural children, Blood Donation Camp etc.
        
    </div>
</div>
