<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Lawyer's First</h3>
    <p>This is a web app developed as a course project. It's a search engine for lawyers built using postings list and flask front end.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Food Recommendation System</h3>
    <p>A simple food recommendation system built with 1000 recipes of different food. This app internally uses item-item similarity logic.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Lawyer's First</h3>
    <p>This is a web app developed as a course project. It's a search engine for lawyers built using postings list and flask front end.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Food Recommendation System</h3>
    <p>A simple food recommendation system built with 1000 recipes of different food. This app internally uses item-item similarity logic.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>