<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img style="width: 50%;height: 50%;" alt="mountains" src="{{ "/assets/img/saree.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Text to Image Synthesis for Saree</h3>
    <p>It's a research project using Generative Adversarial Networks for image synthesis using the text descriptions.
      The project code is not open sourced until a research paper regarding this is published.
    </p>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img style="width: 100%" alt="Law" src="{{ "/assets/img/Law.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Lawyer's First</h3>
    <p>It's a search engine for lawyers built using postings list and flask front end. The application was tested on a sample data of 100 cases from different courts across India.</p>
    <a class="project-link" href="https://github.com/Better-Boy/Lawyers-First">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img style="width: 100%" alt="Food" src="{{ "/assets/img/Food.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Food App: Food Recommendation System</h3>
    <p>A simple food recommendation system built with 1000 recipes of different food. This app internally uses item-item similarity logic.</p>
    <a class="project-link" href="https://github.com/Better-Boy/Food-Recommendation-System">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img style="width: 100%" alt="Price" src="{{ "/assets/img/Price.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Price Calc</h3>
    <p>This standalone cross platform app was built to calculate complex price calculations with inbuilt save formulas.</p>
    <a class="project-link" href="https://github.com/Better-Boy/Price-Calc">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img style="width: 100%" alt="notepad" src="{{ "/assets/img/notepad.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Java Text : A text editor written in java.</h3>
    <p>A simple food recommendation system built with 1000 recipes of different food. This app internally uses item-item similarity logic.</p>
    <a class="project-link" href="https://github.com/Better-Boy/Text-Editor-in-Java">Check it out</a>
  </div>
</div>
